body, html {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	z-index: 2000;
	opacity: 0.5;
}

.leaflet-popup {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .001em;
}

.leaflet-tooltip {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .001em;
}

.hidden-label {
	display: none;
}

#map {
	position: absolute;
	z-index: 1;
	top: 150px;
	left: 0px;

	width: 100%;
	//min-width: 1246px;
	bottom: 20%;
	height: calc(100% - 134px);
	margin: 0px;
	padding: 0px;
}
.link-gen {
	float: right;
	width: 350px;
	height: 128px;
	margin: 10px 0px 10px 0px;
	padding: inherit;
	border-left: 1px solid #40403d;
}

.link-gen-text {
	color: #f5faf5;
	font-size: 12pt;
	margin-left: 10px;
}

#link-gen-link {
	position: relative;
	top: 30px;
}

#link-gen-button {
	height: 27px;
	width: 50px;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	border-radius: 4px;
	text-align: center;

	float: left;

	cursor: pointer;
	letter-spacing: .001em;

	color: #f5faf2;
	border: none;
	outline: none;

	background-color: #74746a;
	font-size: 10pt;
	line-height: 27px;
}

#link-gen-button:hover {
	background-color: #626159;
}

#url_config {
	padding-top: .5em;
	width: 230px;
	border: 2px solid #f5faf2;
	border-radius: 4px;
	border-top-right-radius: 4px;
}

#divider {
	height: 128px;
	border-left: 1px solid #40403d;
	float: left;
}

#search-initial {
	float: left;

	width: 270px;
	height: 128px;
	margin: 10px;
	padding: inherit;
}

#search-initial-controls {
	float: left;

	height: 128px;
	width: 262px;
	padding-left: 10px;

	color: #f5faf2;
	font-size: 12pt;
}

#search-initial-dropdown {
	width: 255px;
	position: relative;
	top: 5px;
}

.dropdown-input {
	height: 100%;
	width: 225px;
	float: left;
	border: none;
	padding: 0;

	font-style: italic;
	color: #f5faf2;
	background-color: #40403d;
	outline: none;
}

.dropdown-button {
	width: 30px;
	float: left;
	height: 100%;
}

#search-initial {
	float: left;

	width: 270px;
	height: 128px;
	margin: 10px;
	padding: inherit;
}

#search-initial-image {
	float: left;

	width: 128px;
	height: 128px;

	opacity: 0.0;
	border-radius: 4px;
}

/* just until we have images */
#search-initial-image > img {
	display: none;
}

#search-initial-controls {
	float: left;

	height: 128px;
	width: 262px;
	padding-left: 10px;

	color: #f5faf2;
	font-size: 12pt;
}

#search-initial-lexical {
	width: 15px;
	height: 15px;
	margin:0;
	padding: 2.5px;

	cursor:pointer;

	border: none;
	border-radius: 4px;
	outline:none;
	background:none;
	background-color: #40403d;
}

#search-initial-dropdown-select {
	position: relative;
	left: -5px;
	z-index: 60;

	overflow-x: hidden;
	overflow-y: scroll;

	width: 250px;
	height: 0px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;

	border-radius: 0px 0px 4px 4px;
	background-color: #40403d;
}

#search-initial-dropdown-select > li {
	width: 250px;
	height: 20px;
	margin: 0px;

	cursor: pointer;

	color: #f5faf2;
	border-top: 1px dotted #f5faf2;

	font-size: 10pt;
	font-style: italic;
	line-height: 20px;
}

#search-initial-dropdown-lex {
	position: relative;
	left: -5px;
	z-index: 60;

	overflow-x: hidden;

	width: 250px;

	height: 0px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;

	border-radius: 0px 0px 4px 4px;
	background-color: #40403d;
}

#search-initial-dropdown-lex > li {
	width: 250px;

	height: 20px;
	margin: 0px;

	cursor: pointer;

	color: #f5faf2;
	border-top: 1px dotted #f5faf2;

	font-size: 10pt;
	font-style: italic;
	line-height: 20px;
}

#search-initial-altname {
	position: relative;
	top: -5px;
	color: rgb(144, 144, 144);
	font-style: italic;
	font-weight: semi-bold;
	font-size: 10pt;
}

#search-initial-switch {
	position: relative;
	top: 72px;

	width: 150px;
	height: 20px;

	border-radius: 4px;
	background-color: #202020;
}

#search-initial-switch-button {
	width: 100%;
	height: 20px;
	margin:0;
	padding:0;

	cursor:pointer;

	border: none;
	border-radius: 4px;
	outline:none;
	background:none;
}

#search-initial-switch-button > div {
	position: relative;
	left: 75px;

	width: 75px;
	height: 20px;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: center;

	color: #202020;
	border-radius: 4px;
	background-color: #80807d;

	line-height: 20px;
}

#search-initial-switch-button > div > span {
	position: relative;
	top: -24px;
}

.search-initial-switch-sides {
	float: left;

	width: 50%;

	text-align: center;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	letter-spacing: .001em;

	color: #f5faf2;

	font-size: 10pt;
	line-height: 20px;
}

.dropdown-text {
	letter-spacing: .001em;

	color: #f5faf2;

	font-style: italic;
}

.search-checkbox {
	height: 17px;

	letter-spacing: .001em;

	color: #f5faf2;

	font-size: 10pt;
	font-style: italic;
}

.search-checkbox > input[type='checkbox'] {
	margin: 0px;

	cursor: pointer;
	vertical-align: middle;
}

.search-dropdown {
	width: 160px;

	letter-spacing: .001em;

	border-radius: 4px;

	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
}

.search-dropdown > option {
	letter-spacing: .001em;

	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
}

.species-dropdown {
	width: 240px;
	height: 20px;
	padding-left: 5px;

	cursor: pointer;
	letter-spacing: .001em;

	color: #f5faf2;
	border-radius: 4px;
	background-color: #40403d;

	font-size: 10pt;
	line-height: 20px;
}

.triangle {
	position: relative;
	top: 8px;
	left: 10px;

	width: 0;
	height: 0;

	border-top: 5px solid #f5faf2;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

@media (min-width: 1364px) {
	#search-tool-contents {
		margin: 0 auto;
	}
}

#mds-border {
	position: fixed;
	display: none;
	z-index: 100;
	bottom: 0;
	right: 0;
	border-radius: 4px;
	border: 4px solid black;
	height: 300px;
	width: 300px;
	background: white;

	max-width: 400px;
	max-height: 400px;

	margin: 0px;
}
