body, html {
  padding: 0;
  margin: 0;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 1366px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: -1;
}

#search-tool {
  position: relative;
  width: 100%;
  min-width: 1366px;
  height: 189px;
  padding: 0px;
  margin: 0px;
  background-color: black;
  opacity: 1.0;
}

#search-tool-contents {
  font-family: 'Source Sans Pro', sans-serif;
  width: 1364px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #40403d;
  border-right: 1px solid #40403d;
}

#search-banner {
  width: 1354px;
  height: 30px;
  padding: 5px 0px 5px 5px;
  margin: 0 auto;
  border-bottom: 1px solid #40403d;
}

#search-banner-logo {
  width: 23px;
  height: 30px;
  padding: 0px 3.5px 0px 3.5px;
  float: left;
}

#search-banner-logo > img {
  width: 100%;
  height: 100%;
}

#search-banner-title {
  width: 225px;
  height: 30px;
  float: left;
  color: #f5faf2;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
}

#search-banner-buffer {
  width: 937px;
  height: 30px;
  float: left;
}

#search-banner-help-link {
  float: left;
  height: 30px;
  width: 30px;
  border-right: 1px solid #40403d;
}

#search-banner-help-link > center > button {
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #f5faf2;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
  width: 100%;
  height: 100%;
}

#search-banner-help-tooltips {
  float: left;
  height: 30px;
  width: 100px;
  border-right: 1px solid #40403d;
}

#search-banner-help-tooltips > center > button {
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #f5faf2;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
  width: 100%;
  height: 100%;
}

#search-banner-help-minimizer {
  float: left;
  height: 30px;
  width: 30px;
}

#search-banner-help-minimizer > center > button {
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #f5faf2;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
  width: 100%;
  height: 100%;
}

#search-initial {
  width: 280px;
  height: 128px;
  float: left;
  padding: inherit;
  margin: 10px;
}

#search-initial-lexical {
  background:none;
  border: none;
  margin:0;
  outline:none;
  cursor:pointer;
  border-radius: 4px;
  background-color: #40403d;
  padding: 2.5px;
  height: 15px;
  width: 15px;
}

#search-initial-lexical > img {
  height: 15px;
  width: 15px;
  margin: 0 auto;
}

#search-initial-dropdown {
  position: relative;
  top: -20px;
  left: 30px;
}

#search-initial-dropdown-common {
  height: 0px;
  width: 240px;
  position: relative;
  top: -130px;
  left: 30px;
  padding-left: 5px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #40403d;
  border-radius: 4px;
  z-index: 60;
}

#search-initial-dropdown-common > li {
  height: 20px;
  width: 240px;
  margin: 0px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px dotted #f5faf2;
}

#search-initial-dropdown-latin {
  height: 0px;
  width: 240px;
  position: relative;
  top: -130px;
  left: 30px;
  padding-left: 5px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #40403d;
  border-radius: 4px;
  z-index: 60;
}

#search-initial-dropdown-latin > li {
  height: 20px;
  width: 240px;
  margin: 0px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px dotted #f5faf2;
}

#search-initial-image {
  position: relative;
  top: -10px;
  width: 90px;
  height: 90px;
  border-radius: 4px;
  opacity: 0.0;
}

#search-initial-image > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 49;
}

#search-initial-switch {
  width: 100px;
  height: 20px;
  position: relative;
  top: -100px;
  left: 175px;
  background-color: #202020;
  border-radius: 4px;
}

#search-initial-switch-button {
  width: 100%;
  height: 20px;
  background:none;
  border-radius: 4px;
  border: none;
  margin:0;
  padding:0;
  outline:none;
  cursor:pointer;
}

#search-initial-switch-button > div {
  height: 20px;
  width: 50px;
  position: relative;
  left: 50px;
  border-radius: 4px;
  background-color: #80807d;
  color: #202020;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#search-initial-switch-button > div > span {
  position: relative;
  top: -24px;
}

#search-initial-switch > div > center > div {
  color: #f5faf2;
  font-size: 8pt;
  line-height: 20px;
  letter-spacing: .001em;
  width: 50%;
  float: left;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#search-initial-box {
  display: none;
  position: relative;
  top: -150px;
  left: 30px;
  width: 245px;
  height: 20px;
  z-index: 1000;
  background-color: #40403d;
  border-radius: 4px;
}

#search-initial-box-input {
  position: relative;
  width: 240px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0px 0px 0px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-initial-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-initial-box > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#search-compare {
  width: 722px;
  height: 128px;
  float: left;
  padding: inherit;
  margin: 10px 0px 10px 0px;
  border-left: 1px solid #40403d;
}

#search-compare-placeholder > div {
  width: 100%;
  height: 128px;
  color: #f5faf2;
  font-weight: bold;
  font-size: 18pt;
  line-height: 128px;
}

#search-compare-contents {
  display: none;
  width: 100%;
  height: 128px;
}

#search-compare-lexical {
  position: relative;
  width: 241px;
  height: 128px;
  float: left;
  box-sizing: border-box;
  border-right: 1px dotted #40403d;
}

#search-compare-one-box {
  display: none;
  position: absolute;
  top: 25px;
  left: 225px;
  width: 245px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  z-index: 1000;
}

#search-compare-one-box-input {
  position: relative;
  width: 240px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0px 0px 0px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-one-box-name {
  position: relative;
  display: none;
  top: -20px;
  width: 240px;
  height: 20px;
  background-color: #ca1892;
  border-radius: 4px;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0px 0px 0px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-one-box-clear {
  position: relative;
  display: none;
  top: -40px;
  left: 215px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 8pt;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
}

#search-compare-one-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-compare-one-box > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#search-compare-two-box {
  display: none;
  position: absolute;
  top: 75px;
  left: 225px;
  width: 245px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
}

#search-compare-two-box-input {
  position: relative;
  width: 240px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0px 0px 0px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-two-box-name {
  position: relative;
  display: none;
  top: -20px;
  width: 240px;
  height: 20px;
  background-color: #f28e43;
  border-radius: 4px;
  padding: 0px 0px 0px 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-two-box-clear {
  position: relative;
  display: none;
  top: -40px;
  left: 215px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 8pt;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
}

#search-compare-two-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-compare-two-box > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#search-compare-distribution {
  position: relative;
  width: 240px;
  height: 128px;
  float: left;
  box-sizing: border-box;
  border-right: 1px dotted #40403d;
}

#compare-dist-one {
  display: none;
  position: absolute;
  top: 25px;
  left: 225px;
  width: 245px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

#compare-dist-one > ul {
  display: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -4px;
}

#compare-dist-one > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#compare-dist-one > .triangle {
  left: 225px;
}

#compare-dist-one-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;
  background-color: #40403d;
  border-radius: 4px;
  color: #f5faf2;
  font-style: italic;
  font-size: 10pt;
  line-height: 20px;
}

#compare-dist-two {
  display: none;
  position: absolute;
  top: 75px;
  left: 225px;
  width: 245px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  cursor: pointer;
}

#compare-dist-two > ul {
  display: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -4px;
}

#compare-dist-two > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#compare-dist-two-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;
  background-color: #40403d;
  border-radius: 4px;
  color: #f5faf2;
  font-style: italic;
  font-size: 10pt;
  line-height: 20px;
}

#compare-dist-two > .triangle {
  left: 225px;
}

#search-compare-environment {
  width: 240px;
  height: 128px;
  float: left;
  position: relative;
}

#compare-env-one {
  display: none;
  position: absolute;
  top: 25px;
  left: 225px;
  width: 245px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

#compare-env-one > ul {
  display: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -4px;
}

#compare-env-one > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#compare-env-one > .triangle {
  left: 225px;
}

#compare-env-one-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;
  background-color: #40403d;
  border-radius: 4px;
  color: #f5faf2;
  font-style: italic;
  font-size: 10pt;
  line-height: 20px;
}

#compare-env-two {
  display: none;
  position: absolute;
  top: 75px;
  left: 225px;
  width: 245px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  cursor: pointer;
}

#compare-env-two > ul {
  display: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -4px;
}

#compare-env-two > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#compare-env-two-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;
  background-color: #40403d;
  border-radius: 4px;
  color: #f5faf2;
  font-style: italic;
  font-size: 10pt;
  line-height: 20px;
}

#compare-env-two > .triangle {
  left: 225px;
}

#search-compare-contents input[type='radio'] {
  position: relative;
  top: 45px;
  left: 5px;
}

#search-compare-contents .subhead {
  position: relative;
  left: 30px;
  height: 20px;
  font-size: 12pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  color: #f5faf2;
  line-height: 20px;
}

#search-compare-contents .subhead2 {
  position: relative;
  left: 30px;
  top: 5px;
  width: 200px;
  height: 40px;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: .001em;
  color: #f5faf2;
  line-height: 20px;
}

#search-options {
  width: 325px;
  height: 128px;
  float: left;
  padding: 0px 5px 0px 10px;
  margin: 10px 0px 10px 0px;
  border-left: 1px solid #40403d;
}

#options-label {
  height: 20px;
	color: #f5faf2;
  font-weight: semi-bold;
	font-size: 12pt;
	letter-spacing: .001em;
  padding-bottom: 5px;
}

#options-background {
  height: 22px;
  padding-bottom: 10px;
}

#options-overlays {
  height: 22px;
  padding-bottom: 10px;
}

#options-overlays > label {
  height: 13px;
  line-height: 13px;
}

#checkbox-container {
  width: 150px;
  height: 35px;
}

#options-predicted {
  padding-bottom: 5px;
}

#options-predicted > label {
  height: 13px;
  line-height: 13px;
}

#options-annotations {
  padding: 5px;
  position: relative;
  left: 190px;
  top: -103px;
  width: 90px;
  height: 80px;
  border: 1px solid #40403d;
  background-color: #202020;
  color: #a5aaa2;
  font-style: italic;
  font-size: 9pt;
  letter-spacing: .001em;
}

#options-annotations-buttons {
  padding-top: 5px;
  left: 3px;
}

#options-annotations > center > div {
  height: 33px;
}

#options-annotations > center > button {
  height: 18px;
  line-height: 13px;
  background:none;
  border:none;
  margin:0;
  padding:0;
  padding-bottom: 5px;
  outline: none;
  cursor: pointer;
  color: #a5aaa2;
  font-size: 8pt;
  font-style: italic;
  letter-spacing: .001em;
}

#color-legend {
  height: 0px;
  width: 400px;
  background-color: #000000;
  position: absolute;
  z-index: 1000;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  bottom: 30px;
  right: 5px;
  overflow: hidden;
}

#legend-banner {
  width: 100%;
  height: 25px;
}

#legend-banner-left {
  width: 300px;
  height: 100%;
  line-height: 25px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  text-align: center;
  letter-spacing: .001em;
  float: left;
}

#legend-banner-right {
  width: 100px;
  height: 100%;
  line-height: 25px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  text-align: center;
  letter-spacing: .001em;
  float: left;
}

#legend-species-blue {
  width: 100%;
  height: 49px;
  background-color: #40403d;
  border-radius: 4px;
  margin-bottom: 1px;
  overflow: hidden;
}

#legend-blue-controls {
  height: 100%;
  width: 50px;
  float: left;
}

#legend-blue-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;
  margin: 0;
  cursor: pointer;
}

#legend-blue-contents {
  position: relative;
  top: 4.5px;
  height: 40px;
  width: 250px;
  float: left;
  border-right: 1px dotted #202020;
  box-sizing: border-box;
}

#legend-blue-contents-name {
  width: 244px;
  height: 50%;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  font-style: italic;
  font-size: 10pt;
  padding-left: 5px;
}

#legend-blue-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-blue-100 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #283a95;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#legend-blue-75 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #2c7ebd;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
}

#legend-blue-50 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #40b5c6;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#legend-blue-quality {
  height: 100%;
  width: 100px;
  float: left;
  line-height: 49px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  text-align: center;
  font-style: italic;
}

#legend-species-pink {
  width: 100%;
  height: 0px;
  background-color: #40403d;
  border-radius: 4px;
  margin-bottom: 0px;
  overflow: hidden;
}

#legend-pink-controls {
  height: 100%;
  width: 50px;
  float: left;
}

#legend-pink-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;
  margin: 0;
  cursor: pointer;
}

#legend-pink-contents {
  position: relative;
  top: 4.5px;
  height: 40px;
  width: 250px;
  float: left;
  border-right: 1px dotted #202020;
  box-sizing: border-box;
}

#legend-pink-contents-name {
  width: 244px;
  height: 50%;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  font-style: italic;
  font-size: 10pt;
  padding-left: 5px;
}

#legend-pink-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-pink-100 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #752879;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#legend-pink-75 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #c31d8e;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
}

#legend-pink-50 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #f069a3;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#legend-pink-quality {
  height: 100%;
  width: 100px;
  float: left;
  line-height: 49px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  text-align: center;
  font-style: italic;
}

#legend-species-orange {
  width: 100%;
  height: 0px;
  background-color: #40403d;
  border-radius: 4px;
  margin-bottom: 0px;
  overflow: hidden;
}

#legend-orange-controls {
  height: 100%;
  width: 50px;
  float: left;
}

#legend-orange-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;
  margin: 0;
  cursor: pointer;
}

#legend-orange-contents {
  position: relative;
  top: 4.5px;
  height: 40px;
  width: 250px;
  float: left;
  border-right: 1px dotted #202020;
  box-sizing: border-box;
}

#legend-orange-contents-name {
  width: 244px;
  height: 50%;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  font-style: italic;
  font-size: 10pt;
  padding-left: 5px;
}

#legend-orange-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-orange-100 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #bd2026;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#legend-orange-75 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #f78e24;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
}

#legend-orange-50 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #ffce41;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#legend-orange-quality {
  height: 100%;
  width: 100px;
  float: left;
  line-height: 49px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  text-align: center;
  font-style: italic;
}

#legend-blend {
  width: 100%;
  height: 25px;
}

#legend-blend-text {
  width: 330px;
  height: 25px;
  padding-right: 10px;
  float: left;
  line-height: 25px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  text-align: right;
  letter-spacing: .001em;
}

#legend-blend-switch {
  float: left;
  width: 50px;
  height: 20px;
  position: relative;
  top: 2.5px;
  background-color: #202020;
  border-radius: 4px;
}

#legend-blend-switch-button {
  width: 100%;
  height: 20px;
  background:none;
  border-radius: 4px;
  border: none;
  margin:0;
  padding:0;
  outline:none;
  cursor:pointer;
}

#legend-blend-switch-button > div {
  height: 20px;
  width: 25px;
  position: relative;
  left: 25px;
  border-radius: 4px;
  background-color: #80807d;
  color: #202020;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#legend-blend-switch-button > div > span {
  position: relative;
  top: -24px;
}

#legend-blend-switch > div > center > div {
  color: #f5faf2;
  font-size: 8pt;
  line-height: 20px;
  letter-spacing: .001em;
  width: 50%;
  float: left;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.color-legend-demo {
  height: 200px;
  width: 400px;
  background-color: #000000;
  position: absolute;
  z-index: -2;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  bottom: 30px;
  right: 5px;
  overflow: hidden;
}

#legend-demo-banner {
  width: 100%;
  height: 25px;
}

#legend-demo-banner-left {
  width: 300px;
  height: 100%;
  line-height: 25px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  text-align: center;
  letter-spacing: .001em;
  float: left;
}

#legend-demo-banner-right {
  width: 100px;
  height: 100%;
  line-height: 25px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  text-align: center;
  letter-spacing: .001em;
  float: left;
}

#legend-demo-species-blue {
  width: 100%;
  height: 49px;
  background-color: #40403d;
  border-radius: 4px;
  margin-bottom: 1px;
  overflow: hidden;
}

#legend-demo-blue-controls {
  height: 100%;
  width: 50px;
  float: left;
}

#legend-demo-blue-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;
  margin: 0;
  cursor: pointer;
}

#legend-demo-blue-contents {
  position: relative;
  top: 4.5px;
  height: 40px;
  width: 250px;
  float: left;
  border-right: 1px dotted #202020;
  box-sizing: border-box;
}

#legend-demo-blue-contents-name {
  width: 244px;
  height: 50%;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  font-style: italic;
  font-size: 10pt;
  padding-left: 5px;
}

#legend-demo-blue-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-demo-blue-100 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #283a95;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#legend-demo-blue-75 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #2c7ebd;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
}

#legend-demo-blue-50 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #40b5c6;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#legend-demo-blue-quality {
  height: 100%;
  width: 100px;
  float: left;
  line-height: 49px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  text-align: center;
  font-style: italic;
}

#legend-demo-species-pink {
  width: 100%;
  height: 49px;
  background-color: #40403d;
  border-radius: 4px;
  margin-bottom: 1px;
  overflow: hidden;
}

#legend-demo-pink-controls {
  height: 100%;
  width: 50px;
  float: left;
}

#legend-demo-pink-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;
  margin: 0;
  cursor: pointer;
}

#legend-demo-pink-contents {
  position: relative;
  top: 4.5px;
  height: 40px;
  width: 250px;
  float: left;
  border-right: 1px dotted #202020;
  box-sizing: border-box;
}

#legend-demo-pink-contents-name {
  width: 244px;
  height: 50%;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  font-style: italic;
  font-size: 10pt;
  padding-left: 5px;
}

#legend-demo-pink-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-demo-pink-100 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #752879;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#legend-demo-pink-75 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #c31d8e;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
}

#legend-demo-pink-50 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #f069a3;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#legend-demo-pink-quality {
  height: 100%;
  width: 100px;
  float: left;
  line-height: 49px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  text-align: center;
  font-style: italic;
}

#legend-demo-species-orange {
  width: 100%;
  background-color: #40403d;
  border-radius: 4px;
  overflow: hidden;
  height: 49px;
  margin-bottom: 1px;
}

#legend-demo-orange-controls {
  height: 100%;
  width: 50px;
  float: left;
}

#legend-demo-orange-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;
  margin: 0;
  cursor: pointer;
}

#legend-demo-orange-contents {
  position: relative;
  top: 4.5px;
  height: 40px;
  width: 250px;
  float: left;
  border-right: 1px dotted #202020;
  box-sizing: border-box;
}

#legend-demo-orange-contents-name {
  width: 244px;
  height: 50%;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  font-style: italic;
  font-size: 10pt;
  padding-left: 5px;
}

#legend-demo-orange-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-demo-orange-100 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #bd2026;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#legend-demo-orange-75 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #f78e24;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
}

#legend-demo-orange-50 {
  width: 75px;
  height: 100%;
  float: left;
  background-color: #ffce41;
  line-height: 20px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  letter-spacing: .001em;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#legend-demo-orange-quality {
  height: 100%;
  width: 100px;
  float: left;
  line-height: 49px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  text-align: center;
  font-style: italic;
}

#legend-demo-blend {
  width: 100%;
  height: 25px;
}

#legend-demo-blend-text {
  width: 330px;
  height: 25px;
  padding-right: 10px;
  float: left;
  line-height: 25px;
  color: #f5faf2;
  font-size: 8pt;
  font-weight: semi-bold;
  text-align: right;
  letter-spacing: .001em;
}

#legend-demo-blend-switch {
  float: left;
  width: 50px;
  height: 20px;
  position: relative;
  top: 2.5px;
  background-color: #202020;
  border-radius: 4px;
}

#legend-demo-blend-switch-button {
  width: 100%;
  height: 20px;
  background:none;
  border-radius: 4px;
  border: none;
  margin:0;
  padding:0;
  outline:none;
  cursor:pointer;
}

#legend-demo-blend-switch-button > div {
  height: 20px;
  width: 25px;
  position: relative;
  left: 25px;
  border-radius: 4px;
  background-color: #80807d;
  color: #202020;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#legend-demo-blend-switch-button > div > span {
  position: relative;
  top: -24px;
}

#legend-demo-blend-switch > div > center > div {
  color: #f5faf2;
  font-size: 8pt;
  line-height: 20px;
  letter-spacing: .001em;
  width: 50%;
  float: left;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
}

.bordered {
  border-width: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.vignette:after {
  -moz-box-shadow: inset 0 0 80px #000;
  -webkit-box-shadow: inset 0 0 80px #000;
  box-shadow: inset 0 0 80px #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  content: "";
  border-radius: 4px;
}

.dropdown-text {
  color: #f5faf2;
  font-style: italic;
  letter-spacing: .001em;
}

.search-checkbox {
  height: 17px;
  color: #f5faf2;
  font-style: italic;
  font-size: 10pt;
  letter-spacing: .001em;
}

.search-checkbox > input[type='checkbox'] {
  cursor: pointer;
  margin: 0px;
  vertical-align: middle;
}

.search-dropdown {
  width: 160px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
	letter-spacing: .001em;
}

.search-dropdown > option {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
	letter-spacing: .001em;
}

.species-dropdown {
  height: 20px;
  width: 240px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  border-radius: 4px;
  background-color: #40403d;
  cursor: pointer;
  padding-left: 5px;
}

.triangle {
  position: relative;
  top: -12px;
  left: 220px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f5faf2;
}

.drag-handle {
  color: #a5aaa2;
  font-weight: bold;
  font-size: 12pt;
  letter-spacing: .1em;
  width: 100%;
  height: 50%;
  line-height: 24.5px;
  text-align: center;
  cursor: move;
}

@media (min-width: 1364px) {
  #search-tool-contents {
    margin: 0 auto;
  }
}
