body, html {
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 1366px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#search-tool {
  position: relative;
  width: 100%;
  min-width: 1366px;
  height: 189px;
  padding: 0px;
  margin: 0px;
  background-color: black;
  opacity: 1.0;
  z-index: 100;
}

#search-tool-contents {
  font-family: 'Source Sans Pro', sans-serif;
  width: 1364px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #40403d;
  border-right: 1px solid #40403d;
}

#search-banner {
  width: 1354px;
  height: 30px;
  padding: 5px 0px 5px 5px;
  margin: 0 auto;
  border-bottom: 1px solid #40403d;
}

#search-banner-logo {
  width: 30px;
  height: 30px;
  float: left;
}

#search-banner-logo > img {
  width: 100%;
  height: 100%;
}

#search-banner-title {
  width: 225px;
  height: 30px;
  float: left;
  color: #f5faf2;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
}

#search-banner-buffer {
  width: 937px;
  height: 30px;
  float: left;
}

#search-banner-help-link {
  float: left;
  height: 30px;
  width: 30px;
  border-right: 1px solid #40403d;
}

#search-banner-help-link > center > a {
  color: #f5faf2;
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: .001em;
  text-decoration: none;
  line-height: 30px;
}

#search-banner-help-link > center > a:hover {
  cursor: pointer;
}

#search-banner-help-tooltips {
  float: left;
  height: 30px;
  width: 100px;
  border-right: 1px solid #40403d;
}

#search-banner-help-tooltips > center > button {
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #f5faf2;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
}

#search-banner-help-minimizer {
  float: left;
  height: 30px;
  width: 30px;
}

#search-banner-help-minimizer > center > button {
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #f5faf2;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: .001em;
  line-height: 30px;
}

#search-initial {
  width: 280px;
  height: 128px;
  float: left;
  padding: inherit;
  margin: 10px;
}

#search-initial-lexical {
  background:none;
  border: none;
  margin:0;
  outline:none;
  cursor:pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #40403d;
  line-height: 20px;
  position: relative;
  left: 5px;
  padding: 2.5px;
}

#search-initial-lexical > img {
  height: 15px;
  width: 15px;
}

#search-initial-dropdown {
  position: relative;
  top: -21px;
  left: 40px;
}

#search-initial-dropdown-common {
  height: 0px;
  width: 230px;
  position: relative;
  top: -130px;
  left: 40px;
  padding-left: 5px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #40403d;
  border-radius: 4px;
  z-index: 60;
}

#search-initial-dropdown-common > li {
  height: 20px;
  width: 230px;
  margin: 0px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px dotted #f5faf2;
}

#search-initial-dropdown-latin {
  height: 0px;
  width: 230px;
  position: relative;
  top: -130px;
  left: 40px;
  padding-left: 5px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #40403d;
  border-radius: 4px;
  z-index: 60;
}

#search-initial-dropdown-latin > li {
  height: 20px;
  width: 230px;
  margin: 0px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px dotted #f5faf2;
}

#search-initial-image {
  position: relative;
  top: -10px;
  left: 5px;
  width: 90px;
  height: 90px;
  border-radius: 4px;
  opacity: 0.0;
}

#search-initial-image > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 49;
}

#search-initial-switch {
  width: 100px;
  height: 20px;
  position: relative;
  top: -100px;
  left: 175px;
  background-color: #202020;
  border-radius: 4px;
}

#search-initial-switch-button {
  width: 100%;
  height: 20px;
  position: relative;
  top: -22px;
  background:none;
  border-radius: 4px;
  border: none;
  margin:0;
  padding:0;
  outline:none;
  cursor:pointer;
}

#search-initial-switch-button > div {
  width: 50px;
  position: relative;
  left: 50px;
  border-radius: 4px;
  background-color: #80807d;
  color: #202020;
  line-height: 20px;
  cursor: pointer;
}

#search-initial-switch-button > div > div {
  width: 50px;
  position: relative;
  top: -4px;
  color: #202020;
  line-height: 20px;
  cursor: pointer;
}

#search-initial-switch > div > center > div {
  color: #f5faf2;
  font-size: 8pt;
  line-height: 20px;
  letter-spacing: .001em;
  width: 50%;
  float: left;
  cursor: pointer;
}

#search-initial-box {
  display: none;
  position: relative;
  top: -151px;
  left: 40px;
  width: 230px;
  height: 20px;
  z-index: 1000;
  background-color: #40403d;
  border-radius: 4px;
}

#search-initial-box-input {
  position: relative;
  top: -2px;
  width: 230px;
  height: 20px;
  background-color: #40403d;
  border-radius: 4px;
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0px 0px 0px 5px;
  font-family: 'Source Sans Pro', serif;
  color: #f5faf2;
  letter-spacing: .001em;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-initial-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-initial-box > ul > li {
  border-top: 1px dotted #f5faf2;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: #f5faf2;
  font-size: 8pt;
  font-style: italic;
  overflow-x: hidden;
  cursor: pointer;
}

#search-compare {
  width: 722px;
  height: 128px;
  float: left;
  padding: inherit;
  margin: 10px 0px 10px 0px;
  border-left: 1px dotted #40403d;
}

#search-compare-placeholder > div {
  width: 100%;
  height: 128px;
  color: #f5faf2;
  font-weight: bold;
  font-size: 18pt;
  line-height: 128px;
}

#search-options {
  width: 325px;
  height: 128px;
  float: left;
  padding: 0px 5px 0px 10px;
  margin: 10px 0px 10px 0px;
  border-left: 1px dotted #40403d;
}

#options-label {
	color: #f5faf2;
  font-weight: semi-bold;
	font-size: 12pt;
	letter-spacing: .001em;
  padding-bottom: 5px;
}

#options-background {
  padding-bottom: 10px;
}

#options-overlays {
  padding-bottom: 10px;
}

#options-predicted {
  padding-bottom: 5px;
}

#options-annotations {
  padding: 5px;
  position: relative;
  left: 190px;
  top: -102px;
  width: 90px;
  height: 80px;
  border: 1px solid #40403d;
  background-color: #202020;
  color: #a5aaa2;
  font-style: italic;
  font-size: 9pt;
  letter-spacing: .001em;
}

#options-annotations-buttons {
  padding-top: 5px;
  left: 3px;
}

#options-annotations > center > button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  outline: none;
  cursor: pointer;
  color: #a5aaa2;
  font-size: 8pt;
  font-style: italic;
  letter-spacing: .001em;
}

button {
  font-family: 'Source Sans Pro', serif;
}

.bordered {
  border-width: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.vignette:after {
  -moz-box-shadow: inset 0 0 80px #000;
  -webkit-box-shadow: inset 0 0 80px #000;
  box-shadow: inset 0 0 80px #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  content: "";
  border-radius: 4px;
}

.dropdown-text {
  color: #f5faf2;
  font-style: italic;
  letter-spacing: .001em;
}

.search-checkbox {
  height: 17px;
  color: #f5faf2;
  font-style: italic;
  font-size: 10pt;
  letter-spacing: .001em;
}

.search-checkbox > input[type='checkbox'] {
  cursor: pointer;
  margin: 0px;
  vertical-align: middle;
}

.search-dropdown {
  width: 160px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
	letter-spacing: .001em;
}

.search-dropdown > option {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
	letter-spacing: .001em;
}

.species-dropdown {
  height: 20px;
  width: 230px;
  font-size: 10pt;
  color: #f5faf2;
  letter-spacing: .001em;
  line-height: 20px;
  border-radius: 4px;
  background-color: #40403d;
  cursor: pointer;
  padding-left: 5px;
}

.triangle {
  position: relative;
  top: -12px;
  left: 210px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f5faf2;
}

@media (min-width: 1364px) {
  #search-tool-contents {
    margin: 0 auto;
  }
}
