body, html {
  margin: 0;
  padding: 0;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  z-index: 2000;

  opacity: 0.5;
}

.leaflet-popup {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .001em;
}

.leaflet-tooltip {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: .001em;
}

#map {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;

  width: 100%;
  min-width: 1366px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#search-tool {
  position: relative;

  width: 100%;
  min-width: 1366px;
  height: 189px;
  margin: 0px;
  padding: 0px;

  opacity: 1.0;
  background-color: black;
}

#search-tool-contents {
  width: 1364px;
  height: 100%;
  margin: 0 auto;

  border-right: 1px solid #40403d;
  border-left: 1px solid #40403d;

  font-family: 'Source Sans Pro', sans-serif;
}

#search-banner {
  width: 1354px;
  height: 30px;
  margin: 0 auto;
  padding: 5px 0px 5px 5px;

  border-bottom: 1px solid #40403d;
}

#search-banner-logo {
  float: left;

  width: 23px;
  height: 30px;
  padding: 0px 3.5px 0px 3.5px;
}

#search-banner-logo > img {
  width: 100%;
  height: 100%;
}

#search-banner-title {
  float: left;

  width: 320px;
  height: 30px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  line-height: 30px;
}

#search-banner-buffer {
  float: left;

  width: 812px;
  height: 30px;
}

#search-banner-help-link {
  float: left;

  width: 30px;
  height: 30px;

  border-right: 1px solid #40403d;
}

#search-banner-help-link > center > button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  cursor: pointer;
  letter-spacing: .001em;

  color: #f5faf2;
  border:none;
  outline: none;
  background:none;

  font-size: 10pt;
  font-weight: bold;
  line-height: 30px;
}

#search-banner-help-tooltips {
  float: left;

  width: 100px;
  height: 30px;

  border-right: 1px solid #40403d;
}

#search-banner-help-tooltips > center > button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  cursor: pointer;
  letter-spacing: .001em;

  color: #f5faf2;
  border:none;
  outline: none;
  background:none;

  font-size: 10pt;
  font-weight: bold;
  line-height: 30px;
}

#search-banner-help-minimizer {
  float: left;

  width: 30px;
  height: 30px;
}

#search-banner-help-minimizer > center > button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  cursor: pointer;
  letter-spacing: .001em;

  color: #f5faf2;
  border:none;
  outline: none;
  background:none;

  font-size: 10pt;
  font-weight: bold;
  line-height: 30px;
}

#search-initial {
  float: left;

  width: 280px;
  height: 128px;
  margin: 10px;
  padding: inherit;
}

#search-initial-lexical {
  width: 15px;
  height: 15px;
  margin:0;
  padding: 2.5px;

  cursor:pointer;

  border: none;
  border-radius: 4px;
  outline:none;
  background:none;
  background-color: #40403d;
}

#search-initial-lexical > img {
  width: 15px;
  height: 15px;
  margin: 0 auto;
}

#search-initial-dropdown {
  position: relative;
  top: -20px;
  left: 30px;
}

#search-initial-dropdown-common {
  position: relative;
  z-index: 60;
  top: -130px;
  left: 30px;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 240px;
  height: 0px;
  margin: 0px;
  padding-left: 5px;

  border-radius: 4px;
  background-color: #40403d;
}

#search-initial-dropdown-common > li {
  width: 240px;
  height: 20px;
  margin: 0px;

  cursor: pointer;

  color: #f5faf2;
  border-bottom: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-initial-dropdown-latin {
  position: relative;
  z-index: 60;
  top: -130px;
  left: 30px;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 240px;
  height: 0px;
  margin: 0px;
  padding-left: 5px;

  border-radius: 4px;
  background-color: #40403d;
}

#search-initial-dropdown-latin > li {
  width: 240px;
  height: 20px;
  margin: 0px;

  cursor: pointer;

  color: #f5faf2;
  border-bottom: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-initial-image {
  position: relative;
  top: -10px;

  width: 90px;
  height: 90px;

  opacity: 0.0;
  border-radius: 4px;
}

#search-initial-image > img {
  z-index: 49;

  width: 100%;
  height: 100%;

  border-radius: 4px;
}

#search-initial-switch {
  position: relative;
  top: -100px;
  left: 125px;

  width: 150px;
  height: 20px;

  border-radius: 4px;
  background-color: #202020;
}

#search-initial-switch-button {
  width: 100%;
  height: 20px;
  margin:0;
  padding:0;

  cursor:pointer;

  border: none;
  border-radius: 4px;
  outline:none;
  background:none;
}

#search-initial-switch-button > div {
  position: relative;
  left: 75px;

  width: 75px;
  height: 20px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;

  color: #202020;
  border-radius: 4px;
  background-color: #80807d;

  line-height: 20px;
}

#search-initial-switch-button > div > span {
  position: relative;
  top: -24px;
}

#search-initial-switch > div > center > div {
  float: left;

  width: 50%;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  line-height: 20px;
}

#search-initial-box {
  position: relative;
  z-index: 1000;
  top: -150px;
  left: 30px;

  display: none;

  width: 245px;
  height: 20px;

  border-radius: 4px;
  background-color: #40403d;
}

#search-initial-box-input {
  position: relative;

  width: 240px;
  height: 20px;
  margin: 0;
  padding: 0px 0px 0px 5px;

  letter-spacing: .001em;

  color: #f5faf2;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: #40403d;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-initial-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-initial-box > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare {
  float: left;

  width: 722px;
  height: 128px;
  margin: 10px 0px 10px 0px;
  padding: inherit;

  border-left: 1px solid #40403d;
}

#search-compare-placeholder > div {
  width: 100%;
  height: 128px;

  color: #f5faf2;

  font-size: 18pt;
  font-weight: bold;
  line-height: 128px;
}

#search-compare-contents {
  display: none;

  width: 100%;
  height: 128px;
}

#search-compare-lexical {
  position: relative;

  float: left;

  box-sizing: border-box;
  width: 241px;
  height: 128px;

  border-right: 1px dotted #40403d;
}

#search-compare-one-box {
  position: absolute;
  z-index: 1000;
  top: 25px;
  left: 225px;

  display: none;

  width: 245px;
  height: 20px;

  border-radius: 4px;
  background-color: #40403d;
}

#search-compare-one-box-input {
  position: relative;

  width: 240px;
  height: 20px;
  margin: 0;
  padding: 0px 0px 0px 5px;

  letter-spacing: .001em;

  color: #f5faf2;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: #40403d;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-one-box-name {
  position: relative;
  top: -20px;

  display: none;

  width: 240px;
  height: 20px;
  margin: 0;
  padding: 0px 0px 0px 5px;

  letter-spacing: .001em;

  color: #f5faf2;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: rgb(242, 142, 67);

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-one-box-clear {
  position: relative;
  top: -40px;
  left: 215px;

  display: none;

  width: 20px;
  height: 20px;

  cursor: pointer;
  letter-spacing: .001em;

  color: #f5faf2;
  border-radius: 4px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-one-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-compare-one-box > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-two-box {
  position: absolute;
  top: 75px;
  left: 225px;

  display: none;

  width: 245px;
  height: 20px;

  border-radius: 4px;
  background-color: #40403d;
}

#search-compare-two-box-input {
  position: relative;

  width: 240px;
  height: 20px;
  margin: 0;
  padding: 0px 0px 0px 5px;

  letter-spacing: .001em;

  color: #f5faf2;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: #40403d;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-two-box-name {
  position: relative;
  top: -20px;

  display: none;

  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;

  letter-spacing: .001em;

  color: #f5faf2;
  border-radius: 4px;
  background-color: rgb(29, 144, 156);

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-two-box-clear {
  position: relative;
  top: -40px;
  left: 215px;

  display: none;

  width: 20px;
  height: 20px;

  cursor: pointer;
  letter-spacing: .001em;

  color: #f5faf2;
  border-radius: 4px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-two-box > ul {
  margin: 0px;
  padding: 0px;
}

#search-compare-two-box > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#search-compare-distribution {
  position: relative;

  float: left;

  box-sizing: border-box;
  width: 240px;
  height: 128px;

  border-right: 1px dotted #40403d;
}

#compare-dist-one {
  position: absolute;
  z-index: 1000;
  top: 25px;
  left: 225px;

  display: none;

  width: 245px;
  height: 20px;

  cursor: pointer;

  border-radius: 4px;
  background-color: #40403d;
}

#compare-dist-one > ul {
  position: relative;
  top: -4px;

  display: none;

  margin: 0px;
  padding: 0px;
}

#compare-dist-one > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-dist-one > .triangle {
  left: 225px;
}

#compare-dist-one-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;

  color: #f5faf2;
  border-radius: 4px;
  background-color: #40403d;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-dist-two {
  position: absolute;
  top: 75px;
  left: 225px;

  display: none;

  width: 245px;
  height: 20px;

  cursor: pointer;

  border-radius: 4px;
  background-color: #40403d;
}

#compare-dist-two > ul {
  position: relative;
  top: -4px;

  display: none;

  margin: 0px;
  padding: 0px;
}

#compare-dist-two > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-dist-two-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;

  color: #f5faf2;
  border-radius: 4px;
  background-color: #40403d;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-dist-two > .triangle {
  left: 225px;
}

#search-compare-environment {
  position: relative;

  float: left;

  width: 240px;
  height: 128px;
}

#compare-env-one {
  position: absolute;
  z-index: 1000;
  top: 25px;
  left: 225px;

  display: none;

  width: 245px;
  height: 20px;

  cursor: pointer;

  border-radius: 4px;
  background-color: #40403d;
}

#compare-env-one > ul {
  position: relative;
  top: -4px;

  display: none;

  margin: 0px;
  padding: 0px;
}

#compare-env-one > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-env-one > .triangle {
  left: 225px;
}

#compare-env-one-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;

  color: #f5faf2;
  border-radius: 4px;
  background-color: #40403d;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-env-two {
  position: absolute;
  top: 75px;
  left: 225px;

  display: none;

  width: 245px;
  height: 20px;

  cursor: pointer;

  border-radius: 4px;
  background-color: #40403d;
}

#compare-env-two > ul {
  position: relative;
  top: -4px;

  display: none;

  margin: 0px;
  padding: 0px;
}

#compare-env-two > ul > li {
  overflow-x: hidden;

  height: 20px;
  padding-left: 5px;

  cursor: pointer;

  color: #f5faf2;
  border-top: 1px dotted #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-env-two-name {
  width: 240px;
  height: 20px;
  padding: 0px 0px 0px 5px;

  color: #f5faf2;
  border-radius: 4px;
  background-color: #40403d;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#compare-env-two > .triangle {
  left: 225px;
}

#search-compare-contents input[type='radio'] {
  position: relative;
  top: 45px;
  left: 5px;
}

#search-compare-contents .subhead {
  position: relative;
  left: 30px;

  height: 20px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#search-compare-contents .subhead2 {
  position: relative;
  top: 5px;
  left: 30px;

  width: 200px;
  height: 40px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 14pt;
  font-weight: bold;
  line-height: 20px;
}

#search-options {
  float: left;

  width: 325px;
  height: 128px;
  margin: 10px 0px 10px 0px;
  padding: 0px 5px 0px 10px;

  border-left: 1px solid #40403d;
}

#options-label {
  height: 20px;
  padding-bottom: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-weight: semi-bold;
}

#options-background {
  height: 22px;
  padding-bottom: 10px;
}

#options-overlays {
  height: 22px;
  padding-bottom: 10px;
}

#options-overlays > label {
  height: 13px;

  line-height: 13px;
}

#checkbox-container {
  width: 150px;
  height: 35px;
}

#options-predicted {
  padding-bottom: 5px;
}

#options-predicted > label {
  height: 13px;

  line-height: 13px;
}

#options-annotations {
  position: relative;
  top: -103px;
  left: 190px;

  width: 90px;
  height: 80px;
  padding: 5px;

  letter-spacing: .001em;

  color: #a5aaa2;
  border: 1px solid #40403d;
  background-color: #202020;

  font-size: 10pt;
  font-style: italic;
}

#options-annotations-buttons {
  left: 3px;

  padding-top: 5px;
}

#options-annotations > center > div {
  height: 33px;
}

#options-annotations > center > button {
  height: 18px;
  margin:0;
  padding:0;
  padding-bottom: 5px;

  cursor: pointer;
  letter-spacing: .001em;

  color: #a5aaa2;
  border:none;
  outline: none;
  background:none;

  font-size: 10pt;
  font-style: italic;
  line-height: 13px;
}

#color-legend {
  position: absolute;
  z-index: 1000;
  right: 5px;
  bottom: 30px;

  overflow: hidden;

  width: 450px;
  height: 0px;

  border-radius: 10px;
  background-color: #000000;

  font-family: 'Source Sans Pro', sans-serif;
}

#legend-banner {
  width: 100%;
  height: 25px;
}

#legend-banner-left {
  float: left;

  width: 300px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 25px;
}

#legend-banner-right {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 25px;
}

#legend-species-blue {
  overflow: hidden;

  width: 100%;
  height: 0px;
  margin-bottom: 0px;

  border-radius: 4px;
  background-color: #40403d;
}

#legend-blue-controls {
  float: left;

  width: 50px;
  height: 100%;
}

#legend-blue-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;

  margin: 0;

  cursor: pointer;
}

#legend-blue-contents {
  position: relative;
  top: 4.5px;

  float: left;

  box-sizing: border-box;
  width: 250px;
  height: 40px;

  border-right: 1px dotted #202020;
}

#legend-blue-contents-name {
  width: 244px;
  height: 50%;
  padding-left: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#legend-blue-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-blue-100 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #056c58;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-blue-75 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  background-color: #1d909b;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-blue-50 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #60c8d1;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-blue-quality {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-style: italic;
  line-height: 49px;
}

#legend-species-pink {
  overflow: hidden;

  width: 100%;
  height: 49px;
  margin-bottom: 1px;

  border-radius: 4px;
  background-color: #40403d;
}

#legend-pink-controls {
  float: left;

  width: 50px;
  height: 100%;
}

#legend-pink-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;

  margin: 0;

  cursor: pointer;
}

#legend-pink-contents {
  position: relative;
  top: 4.5px;

  float: left;

  box-sizing: border-box;
  width: 250px;
  height: 40px;

  border-right: 1px dotted #202020;
}

#legend-pink-contents-name {
  width: 244px;
  height: 50%;
  padding-left: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#legend-pink-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-pink-100 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #752879;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-pink-75 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  background-color: #c31d8e;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-pink-50 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f069a3;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-pink-quality {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-style: italic;
  line-height: 49px;
}

#legend-species-orange {
  overflow: hidden;

  width: 100%;
  height: 0px;
  margin-bottom: 0px;

  border-radius: 4px;
  background-color: #40403d;
}

#legend-orange-controls {
  float: left;

  width: 50px;
  height: 100%;
}

#legend-orange-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;

  margin: 0;

  cursor: pointer;
}

#legend-orange-contents {
  position: relative;
  top: 4.5px;

  float: left;

  box-sizing: border-box;
  width: 250px;
  height: 40px;

  border-right: 1px dotted #202020;
}

#legend-orange-contents-name {
  width: 244px;
  height: 50%;
  padding-left: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#legend-orange-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-orange-100 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #bd2026;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-orange-75 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  background-color: #f78e24;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-orange-50 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffce41;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-orange-quality {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-style: italic;
  line-height: 49px;
}

#legend-blend {
  width: 100%;
  height: 25px;
}

#legend-blend-text {
  float: left;

  width: 380px;
  height: 25px;
  padding-right: 10px;

  text-align: right;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 25px;
}

#legend-blend-switch {
  position: relative;
  top: 2.5px;

  float: left;

  width: 50px;
  height: 20px;

  border-radius: 4px;
  background-color: #202020;
}

#legend-blend-switch-button {
  width: 100%;
  height: 20px;
  margin:0;
  padding:0;

  cursor:pointer;

  border: none;
  border-radius: 4px;
  outline:none;
  background:none;
}

#legend-blend-switch-button > div {
  position: relative;
  left: 25px;

  width: 25px;
  height: 20px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;

  color: #202020;
  border-radius: 4px;
  background-color: #80807d;

  line-height: 20px;
}

#legend-blend-switch-button > div > span {
  position: relative;
  top: -24px;
}

#legend-blend-switch > div > center > div {
  float: left;

  width: 50%;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  line-height: 20px;
}

.color-legend-demo {
  position: absolute;
  z-index: -2;
  right: 5px;
  bottom: 30px;

  overflow: hidden;

  width: 450px;
  height: 200px;

  border-radius: 10px;
  background-color: #000000;

  font-family: 'Source Sans Pro', sans-serif;
}

#legend-demo-banner {
  width: 100%;
  height: 25px;
}

#legend-demo-banner-left {
  float: left;

  width: 300px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 25px;
}

#legend-demo-banner-right {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 25px;
}

#legend-demo-species-blue {
  overflow: hidden;

  width: 100%;
  height: 49px;
  margin-bottom: 1px;

  border-radius: 4px;
  background-color: #40403d;
}

#legend-demo-blue-controls {
  float: left;

  width: 50px;
  height: 100%;
}

#legend-demo-blue-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;

  margin: 0;

  cursor: pointer;
}

#legend-demo-blue-contents {
  position: relative;
  top: 4.5px;

  float: left;

  box-sizing: border-box;
  width: 250px;
  height: 40px;

  border-right: 1px dotted #202020;
}

#legend-demo-blue-contents-name {
  width: 244px;
  height: 50%;
  padding-left: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#legend-demo-blue-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-demo-blue-100 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #283a95;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-blue-75 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  background-color: #2c7ebd;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-blue-50 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #40b5c6;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-blue-quality {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-style: italic;
  line-height: 49px;
}

#legend-demo-species-pink {
  overflow: hidden;

  width: 100%;
  height: 49px;
  margin-bottom: 1px;

  border-radius: 4px;
  background-color: #40403d;
}

#legend-demo-pink-controls {
  float: left;

  width: 50px;
  height: 100%;
}

#legend-demo-pink-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;

  margin: 0;

  cursor: pointer;
}

#legend-demo-pink-contents {
  position: relative;
  top: 4.5px;

  float: left;

  box-sizing: border-box;
  width: 250px;
  height: 40px;

  border-right: 1px dotted #202020;
}

#legend-demo-pink-contents-name {
  width: 244px;
  height: 50%;
  padding-left: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#legend-demo-pink-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-demo-pink-100 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #752879;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-pink-75 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  background-color: #c31d8e;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-pink-50 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f069a3;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-pink-quality {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-style: italic;
  line-height: 49px;
}

#legend-demo-species-orange {
  overflow: hidden;

  width: 100%;
  height: 49px;
  margin-bottom: 1px;

  border-radius: 4px;
  background-color: #40403d;
}

#legend-demo-orange-controls {
  float: left;

  width: 50px;
  height: 100%;
}

#legend-demo-orange-controls > input[type='checkbox'] {
  position: relative;
  top: 3px;
  left: 19px;

  margin: 0;

  cursor: pointer;
}

#legend-demo-orange-contents {
  position: relative;
  top: 4.5px;

  float: left;

  box-sizing: border-box;
  width: 250px;
  height: 40px;

  border-right: 1px dotted #202020;
}

#legend-demo-orange-contents-name {
  width: 244px;
  height: 50%;
  padding-left: 5px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
  line-height: 20px;
}

#legend-demo-orange-contents-colormap {
  width: 100%;
  height: 50%;
}

#legend-demo-orange-100 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #bd2026;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-orange-75 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  background-color: #f78e24;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-orange-50 {
  float: left;

  width: 75px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffce41;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 20px;
}

#legend-demo-orange-quality {
  float: left;

  width: 150px;
  height: 100%;

  text-align: center;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 12pt;
  font-style: italic;
  line-height: 49px;
}

#legend-demo-blend {
  width: 100%;
  height: 25px;
}

#legend-demo-blend-text {
  float: left;

  width: 380px;
  height: 25px;
  padding-right: 10px;

  text-align: right;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-weight: semi-bold;
  line-height: 25px;
}

#legend-demo-blend-switch {
  position: relative;
  top: 2.5px;

  float: left;

  width: 50px;
  height: 20px;

  border-radius: 4px;
  background-color: #202020;
}

#legend-demo-blend-switch-button {
  width: 100%;
  height: 20px;
  margin:0;
  padding:0;

  cursor:pointer;

  border: none;
  border-radius: 4px;
  outline:none;
  background:none;
}

#legend-demo-blend-switch-button > div {
  position: relative;
  left: 25px;

  width: 25px;
  height: 20px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;

  color: #202020;
  border-radius: 4px;
  background-color: #80807d;

  line-height: 20px;
}

#legend-demo-blend-switch-button > div > span {
  position: relative;
  top: -24px;
}

#legend-demo-blend-switch > div > center > div {
  float: left;

  width: 50%;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  line-height: 20px;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
}

.bordered {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-width: 1px;
}

.vignette:after {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";

  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 80px #000;
  -moz-box-shadow: inset 0 0 80px #000;
  box-shadow: inset 0 0 80px #000;
}

.dropdown-text {
  letter-spacing: .001em;

  color: #f5faf2;

  font-style: italic;
}

.search-checkbox {
  height: 17px;

  letter-spacing: .001em;

  color: #f5faf2;

  font-size: 10pt;
  font-style: italic;
}

.search-checkbox > input[type='checkbox'] {
  margin: 0px;

  cursor: pointer;
  vertical-align: middle;
}

.search-dropdown {
  width: 160px;

  letter-spacing: .001em;

  border-radius: 4px;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

.search-dropdown > option {
  letter-spacing: .001em;

  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

.species-dropdown {
  width: 240px;
  height: 20px;
  padding-left: 5px;

  cursor: pointer;
  letter-spacing: .001em;

  color: #f5faf2;
  border-radius: 4px;
  background-color: #40403d;

  font-size: 10pt;
  line-height: 20px;
}

.triangle {
  position: relative;
  top: -12px;
  left: 220px;

  width: 0;
  height: 0;

  border-top: 5px solid #f5faf2;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.drag-handle {
  width: 100%;
  height: 50%;

  cursor: move;
  text-align: center;
  letter-spacing: .1em;

  color: #a5aaa2;

  font-size: 12pt;
  font-weight: bold;
  line-height: 24.5px;
}

@media (min-width: 1364px) {
  #search-tool-contents {
    margin: 0 auto;
  }
}
