/***
 *	Author: John Duggan (jduggan1 on GitHub & BitBucket)
 *	Email: jduggan1@vols.utk.edu OR johnduggan12@gmail.com
 *	Filename: twincreeks.css
 *	Description: Stylesheet for the Twin Creeks site.
***/

body {
	background-color: #eee;
	color: #111;
}

input[type=checkbox] {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
