/***
 *	Author: John Duggan (jduggan1 on GitHub & BitBucket)
 *	Email: jduggan1@vols.utk.edu OR johnduggan12@gmail.com
 *	Filename: twincreeks.css
 *	Description: Stylesheet for the Twin Creeks site.
***/

body {
	min-width: 1400px;
	background-color: #ddd;
	color: #222;
}

input[type=checkbox] {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}

#blackout {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
