#color-legend {
	position: absolute;
	width: 330px;
	height: 168px;
	left: 150px;
	top: 200px;
	z-index: 150;
	background-color: black;
	opacity: 0.9;
}

.utk-search-tool {
	font-family: 'Source Sans Pro', sans-serif;
	height: 0px;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 0.9;
}

.utk-search-pane {
	position: absolute;
	width: 100%;
	height: 149px;
}

.utk-search-header {
	width: 100%;
	height: 20px;
	top: 20px;
	left: 20px;
}

.utk-search-filler {
	width: 95%;
	height: 100%;
	float: left;
}

.utk-search-close {
	width: 20px;
	height: 20px;
	float: right;
	background-color: #000000;
	outline: none;
	color: #f5faf2;
}

.utk-search-options {
	width: 644px;
	height: 129px;
	top: 20px;
	left: 20px;
	position: absolute;
}

.utk-search-layer {
	width: 220px;
	height: 109px;
	border-right: 2px dotted #40403d;
	float: left;
}

.utk-search-switcher {
	border-radius: 4px;
	width: 180px;
	background-color: #f5faf2;
	color: #000000;
}

.observation-checkbox {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	color: #f5faf2;
}

.utk-search-poi {
	position: absolute;
	left: 240px;
	width: 221px;
	height: 109px;
	border-right: 2px dotted #40403d;
	float: left;
}

.utk-search-poi-checkboxes li {
	display: block;
	float: left;
	width: 40%;
}

.utk-search-poi-checkboxes li label {
	font-weight: 600;
	color: #f5faf2;
}

.utk-search-annotation {
	position: absolute;
	left: 481px;
	width: 134px;
}

.utk-search-annotation-tools {
	position: relative;
	top: 20px;
	left: 16px;
	width: 400px;
	height: 100px;
}

.utk-search-annotation-tools button {
	background-color: #74746a;
	height: 26px;
	width: 26px;
	padding: 0px;
	margin: 0px;
	outline: 0px;
	border-color: #f5faf2;
}

.utk-search-annotation-tools button:hover {
	background-color: #626159;
}

.pressed {
	background-color: #53534a;
}

.marker {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: none;
}

.polyline {
	border-right: none;
}

.polygon {
	border-right: none;
}

.rectangle {
	border-right: none;
}

.circle {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.utk-search-div {
	position: absolute;
	left: 20px;
	width: 1366px;
	height: 149px;
}

.utk-search-breadcrumb {
	position: relative;
	top: -10px;
	width: 100%;
	height: 20px;
	font-weight: 600;
	font-size: 12pt;
	color: #5a5c59;
}

.utk-search-initial {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.utk-search-init-lexical {
	width: 683px;
	border-right: 2px dotted #40403d;
	height: 70%;
}

.init-lexical-label {
	font-weight: 600;
	font-size: 16pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

.init-lexical-box {
	border-radius: 4px;
	border: 0px;
	width: 90%;
	font-weight: 600px;
	font-size: 12pt;
	letter-spacing: .001em;
}

.init-lexical-results {
	background-color: #292928;
	overflow: visible;
	width: 90%;
	top: 0px;
	left: 0px;
}

.search-result {
	height: 31px;
	letter-spacing: .001em;
	background-color: #292928;
}

.search-result img {
	position: relative;
	top: 5px;
}

.search-result img:hover {

}

.init-lexical-options {
	position: absolute;
	padding-top: 10px;
	letter-spacing: .001em;
	color: #f5faf2;
}

.utk-search-init-area {
	position: absolute;
	left: 705px;
	top: 0px;
	width: 641px;
}

.init-area-label {
	font-weight: 600;
	font-size: 16pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

#init-area-circle {
	position: absolute;
	top: 40px;
	left: 80px;
}

#init-area-rect {
	position: absolute;
	top: 40px;
	left: 200px;
}

.init-area-radius {
	position: absolute;
	top: 50px;
	left: 320px;
	color: #f5faf2;
	font-size: 12pt;
	letter-spacing: .001em;
}

.image-normal {
	position: absolute;
	top: 20px;
	width: 165px;
	height: 105px;
}

.vignette {
	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	line-height: 0;
	display: inline-block;
}

.inner-image {
	position: relative;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.utk-search-species {
	position: absolute;
	top: 126px;
	font-weight: bold;
	font-size: 18pt;
	color: #40b5c6;
	letter-spacing: .001em;
}

.selected {
	position: absolute;
	top: 55px;
	left: 195px;
}

.subhead {
	position: absolute;
	top: 47px;
	left: 212px;
	font-weight: 600;
	font-size: 16pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

.subhead2 {
	position: absolute;
	top: 28px;
	left: 212px;
	font-weight: 600;
	font-size: 12pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

.description {
	position: absolute;
	width: 380px;
	height: 51px;
	top: 75px;
	left: 212px;
	font-size: 12pt;
	letter-spacing: .001em;
	color: #f5faf2;
	line-height: 100%;
}

.compare-dropdown-1 {
	position: absolute;
	width: 375px;
	height: 33px;
	left: 618px;
	top: 33px;
	outline: 0px;
	border: 0px;
	background-color: #292928;
	color: #909090;
}

.compare-dropdown-2 {
	position: absolute;
	width: 375px;
	height: 33px;
	left: 618px;
	top: 84px;
	outline: 0px;
	border: 0px;
	background-color: #292928;
	color: #909090;
}

.number-results {
	position: absolute;
	left: 618px;
	top: 131px;
	font-size: 12pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

.radio-button-2 {
	position: absolute;
	left: 1061px;
	top: 46px;
}

.radio-button-2-text {
	position: absolute;
	left: 1047px;
	top: 76px;
	height: 40px;
	width: 79px;
	color: #909090;
	font-size: 12pt;
}

.radio-button-3 {
	position: absolute;
	left: 1165px;
	top: 46px;
}

.radio-button-3-text {
	position: absolute;
	left: 1151px;
	top: 76px;
	height: 40px;
	width: 79px;
	color: #909090;
	font-size: 12pt;
}

.radio-button-4 {
	position: absolute;
	left: 1268px;
	top: 46px;
}

.radio-button-4-text {
	position: absolute;
	left: 1256px;
	top: 76px;
	height: 40px;
	width: 79px;
	color: #909090;
	font-size: 12pt;
}

#settingsButton {
	border: 0px;
	outline: 0px;
	background-color: #000000;
	position: absolute;
	left: 20px;
	top: 0px;
	padding: 0px;
	width: 40px;
	height: 40px;
}

#searchButton {
	border: 0px;
	outline: 0px;
	background-color: #000000;
	position: absolute;
	left: 60px;
	top: 0px;
	padding: 0px;
	width: 40px;
	height: 40px;
}
