#color-legend {
	position: absolute;
	width: 330px;
	height: 168px;
	left: 150px;
	top: 200px;
	z-index: 150;
	background-color: black;
	opacity: 1.0;
}

#searchTool {
	overflow: visible !important;
}

.utk-search-tool {
	font-family: 'Source Sans Pro', sans-serif;
	height: 0px;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 1.0;
}

.utk-search-pane {
	position: absolute;
	width: 100%;
	height: 149px;
}

.utk-search-header {
	width: 100%;
	height: 20px;
	top: 20px;
	left: 20px;
}

.utk-search-filler {
	width: 95%;
	height: 100%;
	float: left;
}

.utk-search-close {
	width: 20px;
	height: 20px;
	float: right;
	background-color: #000000;
	outline: none;
	color: #f5faf2;
}

.utk-search-options {
	width: 644px;
	height: 129px;
	top: 20px;
	left: 20px;
	position: absolute;
}

.utk-search-layer {
	width: 220px;
	height: 109px;
	border-right: 2px dotted #40403d;
	float: left;
}

.utk-search-switcher {
	border-radius: 4px;
	width: 180px;
	background-color: #f5faf2;
	color: #000000;
}

.observation-checkbox {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	color: #f5faf2;
}

.utk-search-poi {
	position: absolute;
	left: 240px;
	width: 221px;
	height: 109px;
	border-right: 2px dotted #40403d;
	float: left;
}

.utk-search-poi-checkboxes li {
	display: block;
	float: left;
	width: 40%;
}

.utk-search-poi-checkboxes li label {
	font-weight: 600;
	color: #f5faf2;
}

.utk-search-annotation {
	position: absolute;
	left: 481px;
	width: 134px;
}

.utk-search-annotation-tools {
	position: relative;
	top: 20px;
	left: 16px;
	width: 400px;
	height: 100px;
}

.utk-search-annotation-tools button {
	background-color: #74746a;
	height: 26px;
	width: 26px;
	padding: 0px;
	margin: 0px;
	outline: 0px;
	border-color: #f5faf2;
}

.utk-search-annotation-tools button:hover {
	background-color: #626159;
}

.pressed {
	background-color: #53534a;
}

.marker {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: none;
}

.polyline {
	border-right: none;
}

.polygon {
	border-right: none;
}

.rectangle {
	border-right: none;
}

.circle {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.utk-search-div {
	position: absolute;
	left: 20px;
	width: 1366px;
	height: 149px;
}

.utk-search-breadcrumb {
	position: relative;
	top: -10px;
	width: 100%;
	height: 20px;
	font-weight: 600;
	font-size: 12pt;
	color: #5a5c59;
}

.utk-search-initial {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.utk-search-init-lexical {
	width: 683px;
	border-right: 2px dotted #40403d;
	height: 70%;
}

.init-lexical-label {
	font-weight: 600;
	font-size: 14pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

.init-lexical-box {
	border-radius: 4px;
	border: 0px;
	padding-left: 5px;
	width: 90%;
	font-weight: 600px;
	font-size: 12pt;
	letter-spacing: .001em;
}

.init-lexical-results {
	background-color: #292928;
	overflow: visible;
	width: 90%;
	top: 0px;
	left: 0px;
}

.search-result {
	height: 31px;
	letter-spacing: .001em;
	background-color: #292928;
}

.search-result img {
	position: relative;
	top: 5px;
}

.init-lexical-options {
	position: absolute;
	padding-top: 10px;
	letter-spacing: .001em;
	color: #f5faf2;
}

.utk-search-init-area {
	position: absolute;
	left: 705px;
	top: 0px;
	width: 641px;
}

.init-area-label {
	font-weight: 600;
	font-size: 14pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

#init-area-circle {
	position: absolute;
	top: 40px;
	left: 80px;
}

#init-area-rect {
	position: absolute;
	top: 40px;
	left: 160px;
}

.init-area-radius {
	position: absolute;
	top: 40px;
	left: 240px;
	color: #f5faf2;
	font-size: 12pt;
	letter-spacing: .001em;
}

.utk-name-switcher-text {
	position: absolute;
	top:126px;
	left: 1240px;
	letter-spacing: .001em;
	font-size: 11pt;
	color: #f5faf2;
	border-radius: 4px;
	background-color: #292928;
	padding: 3px;
	word-spacing: 20px;
}

.utk-name-switcher-button {
	position: absolute;
	top: 126px;
	left: 1302px;
	height: 28px;
	width: 62px;
	background-color: #404039;
	border-radius: 4px;
	border: 0px;
	padding: 0px;
	outline: 0px;
}

.image-normal {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 165px;
	height: 105px;
	transition: all .2s ease-in-out;
}

.image-normal:hover {
	width: 440px;
	height: 330px;
}

.vignette {
	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	box-shadow: inset 0px 0px 85px rgba(0,0,0,0.8);
	line-height: 0;
	display: inline-block;
}

.inner-image {
	position: relative;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.utk-search-species {
	position: absolute;
	top: 126px;
	font-weight: bold;
	font-size: 18pt;
	color: #40b5c6;
	letter-spacing: .001em;
	z-index: -2;
}

.subhead {
	font-weight: 600;
	font-size: 16pt;
	letter-spacing: .001em;
	color: #f5faf2;
	max-width: 263.5px;
}

.subhead2 {
	font-weight: 600;
	font-size: 12pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

.compare-distribution {
	position: absolute;
	top: 20px;
	left: 212px;
	width: 283.5px;
	height: 65%;
	border-right: 2px dotted #40403d;
}

.compare-environment {
	position: absolute;
	top: 20px;
	left: 515.5px;
	width: 283.5px;
	height: 65%;
	border-right: 2px dotted #40403d;
}

.compare-lexical {
	position: absolute;
	top: 20px;
	left: 819px;
	width: 283.5px;
	height: 65%;
	border-right: 2px dotted #40403d;
}

.compare-area {
	position: absolute;
	top: 20px;
	left: 1122.5px;
	width: 283.5px;
	height: 65%;
}

.compare-dropdown-1 {
	position: absolute;
	width: 375px;
	height: 33px;
	left: 618px;
	top: 33px;
	outline: 0px;
	border: 0px;
	background-color: #292928;
	color: #909090;
}

.compare-dropdown-2 {
	position: absolute;
	width: 375px;
	height: 33px;
	left: 618px;
	top: 84px;
	outline: 0px;
	border: 0px;
	background-color: #292928;
	color: #909090;
}

.number-results {
	position: absolute;
	left: 618px;
	top: 131px;
	font-size: 12pt;
	letter-spacing: .001em;
	color: #f5faf2;
}

#settingsButton {
	border: 0px;
	outline: 0px;
	background-color: #000000;
	position: absolute;
	left: 20px;
	top: 0px;
	padding: 0px;
	width: 45px;
	height: 40px;
	padding-left: 15px;
}

#searchButton {
	border: 0px;
	outline: 0px;
	background-color: #000000;
	position: absolute;
	left: 80px;
	top: 0px;
	padding: 0px;
	width: 60px;
	height: 40px;
}

.dropdown {
	width: 375px;
	height: 33px;
	background-color: #292928;
	color: #909090;
	border-radius: 4px;
	padding-left: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f5faf2;
}

.comp-lexical-box {
	width: 375px;
	border-radius: 4px;
	border: 0px;
	margin: 0px;
	padding-left: 5px;
}

.comp-lexical-results {
	background-color: #292928;
	overflow: visible;
	width: 365px;
	top: 0px;
	left: 0px;
}
